input{
    border-radius: 10px;
    border: 1px solid whitesmoke;
    width: 350px;
    padding: .5rem;
    background-color: transparent;
    color: whitesmoke;
    margin-left: 24px;
}
button{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
    padding: .4rem .8rem;
    margin-left: 16px;
    cursor: pointer;
}

#add{
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
}