<div class="container" id="add">
    <h1>To-Do List</h1>
    <div id="form">
        <input type="text" [(ngModel)]="todo">
        <button (click)="addTodo(todo)">ADD</button>
    </div>
</div>
<div class="container">
    <div *ngIf="tempo === 0; else recuperoBlock" >
        <div *ngIf="todos.length; else elseBlock">
            <div *ngFor="let todo of todos, let i = index">
                <div *ngIf="todo.completed === false; else elseBlock">
                    <ul>
                        <li>{{todo.title}} 
                            <button (click)="madeIt(todo.id, i)"><i class="fas fa-check"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #recuperoBlock>
    <h3>{{recupero}}</h3>
</ng-template>

<ng-template #elseBlock>
    <h3>{{noTodo}}</h3>
</ng-template>