#nav{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:last-child{
    margin-left: 12px;
}
a:hover{
    color: plum;
}
.active{
    color: rgb(202, 50, 202);
}