/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
    background-color: rgba(26, 26, 26, 0.945);
    color: whitesmoke;
}

.container{
    width: 95%;
    margin-inline: auto;
}
li{
    font-size: 1.2rem
}